#img1 {
	background-image: url("artha\ \(1\).jpg");
}
#img2 {
	background-image: url("artha\ \(2\).jpg");
}
#img3 {
	background-image: url("artha\ \(3\).jpg");
}
#img4 {
	background-image: url("Artha\(4\).jpeg");
}
#img5 {
	background-image: url("artha\(5\).jpeg");
}
#img6 {
	background-image: url("artha\(6\).jpeg");
}
