#img1 {
	background-image: url("ashkrit (1).jpg");
}
#img2 {
	background-image: url("ashkrit (7).jpg");
}
#img3 {
	background-image: url("ashkrit (2).jpg");
}
#img4 {
	background-image: url("ashkrit (10).jpg");
}
#img5 {
	background-image: url("ashkrit (4).jpg");
}
#img6 {
	background-image: url("ashkrit (3).jpg");
}
#img7 {
	background-image: url("ashkrit (9).jpg");
}
#img8 {
	background-image: url("ashkrit (8).jpg");
}
#img9 {
	background-image: url("ashkrit (5).jpg");
}
#img10 {
	background-image: url("ashkrit (6).jpg");
}
