#img1 {
	background-image: url("deepanshi (5).jpg");
}
#img2 {
	background-image: url("deepanshi (6).jpg");
}
#img3 {
	background-image: url("deepanshi (2).jpg");
}
#img4 {
	background-image: url("deepanshi (4).jpg");
}
#img5 {
	background-image: url("deepanshi (1).jpg");
}
#img6 {
	background-image: url("deepanshi (3).jpg");
}
