#img1 {
	background-image: url("deepali (2).jpg");
}
#img2 {
	background-image: url("deepali (4).jpg");
}
#img3 {
	background-image: url("deepali (5).jpg");
}
#img4 {
	background-image: url("deepali (3).jpg");
}
#img5 {
	background-image: url("deepali (1).jpg");
}
#img6 {
	background-image: url("deepali (6).jpg");
}
