#img1 {
	background-image: url("gauri (5).jpg");
}
#img2 {
	background-image: url("gauri (7).jpg");
}
#img3 {
	background-image: url("gauri (2).jpg");
}
#img4 {
	background-image: url("gauri (4).jpg");
}
#img5 {
	background-image: url("gauri (3).jpg");
}
#img6 {
	background-image: url("gauri (6).jpg");
}
