#img1 {
	background-image: url("chota-girru.jpeg");
}
#img2 {
	background-image: url("sab\ \(1\).jpeg");
}
#img3 {
	background-image: url("girja\ \(1\).JPG");
}
#img4 {
	background-image: url("sab\ \(1\).jpg");
}
#img5 {
	background-image: url("girja\ \(2\).JPG");
}
#img6 {
	background-image: url("sab\ \(2\).jpeg");
}
#img7 {
	background-image: url("girja\ \(3\).jpg");
}
#img8 {
	background-image: url("sab\ \(3\).jpeg");
}
#img9 {
	background-image: url("girja\ \(4\).jpeg");
}
#img10 {
	background-image: url("sab\ \(3\).jpg");
}
#img11 {
	background-image: url("girja\ \(5\).jpeg");
}
#img12 {
	background-image: url("sab\ \(4\).jpeg");
}
#img13 {
	background-image: url("girja\ \(6\).jpeg");
}
#img14 {
	background-image: url("sab\ \(4\).jpg");
}
#img15 {
	background-image: url("girja\ \(7\).jpeg");
}
#img16 {
	background-image: url("sab\ \(5\).jpeg");
}
#img17 {
	background-image: url("sab\ \(5\).jpg");
}
#img18 {
	background-image: url("sab\ \(6\).jpg");
}
#img19 {
	background-image: url("sab.jpg");
}
#img20 {
	background-image: url("sab\ \(2\).jpg");
}

